body {
    margin: 0;
    background-image: url("fondo.jpg");
    background-size: cover;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 100px;
}

h3 {
    font-family: 'Verdana';
    font-size: 40px;
    line-height: 36px;
    margin-top: 40px;
    text-shadow: 0 0 4px white;
}

h2 {
    font-size: 90px;
    margin: 5px 10px 40px;
    background: black;
    color: #F94F6D;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}

button {
    margin-bottom: 40px;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    border-radius: 4px;
    background: transparent;
    margin-left: 5px;
    margin-right: 5px;
}

.reset {
    margin: auto 5px;
    padding: 5px;
    background-color: rgb(97, 97, 214);
}